#header {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 25px;
}

#input-field {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

#submit-container {
    display: flex;
    flex-direction: row-reverse;
}

#submitButton {
    margin: 5px 2%;
    width: 10%;
}

button {
    border-radius: 5px;
    background-color: whitesmoke;
}

.button-container {
    text-align: center;
}

input {
    width: 17%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    text-align: left;
}

th, td {
    border: 1px solid black;
    padding: 10px 5px;
}

th {
    background-color: lightgray;
}

tfoot td {
    border: none;
    height: 20px;
}

tfoot {
    border: 1px solid black;
    height: 20px;
}

#totalMonthly {
    text-align: right;
}